div{
    background-color: tomato;
    color: white;
    padding: 20px;
    margin: 10px;
}
li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: darkblue;
}
header{
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    text-align: left;
    width: 30%;
}